body {
  background-color: rgb(122, 73, 14);
}
.App {
  margin: 20vh auto;
  max-width: 600px;
  text-align: center;
  background-color: rgb(165, 120, 21);
  padding: 1.5rem;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  color: rgb(237, 205, 144);
}

.length {
  display: flex;
  justify-content: center;
  align-items: center;
}

.length > .break {
  margin-right: 3rem;
}

.length #break-label, #session-label {
  font-size: 1.3rem;
  color: rgb(240, 223, 192);
}

.length > .break > .break-ctrl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.length button {
  font-size: 1rem;
  border-radius: 10px;
  background-color:rgb(237, 205, 144);
}


.length > .session {
  margin-left: 3rem;
}

.length > .session > .session-ctrl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}


.display {
  margin: 1rem auto;
  border: 3px solid black;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.display > #timer-label {
  color: rgb(240, 223, 192);
  font-size: 20px;
}

.display > #time-left {
  margin-top: 10px;
  font-size: 4rem;
  background-color: rgb(70, 52, 18);
  border-radius: 10px;
}

.controller button {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(237, 205, 144);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  list-style: none;
  color: rgb(237, 205, 144);
}

